/*
### ROAM CUSTOM THEME ###
> Based on the Ayu palette from Rust's mdBook
> Edits by Ancestor
> v1.0
*/

/* Import new fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/* ## ARTICLE STYLING (Article size, margins etc) ## */
.rm-block-text {
  max-width: 1100px;
}
.roam-center div:first-child {
    padding-right: calc(10% - 284px) !important;
    padding-left: calc(34% - 516px) !important;
}
.roam-article {
    width: 1100px;
}
.roam-block-container {
    max-width: 1100px;
}

/* ## COLOURS ##*/
body {
    background-color: #0F1419;
    font-family: 'Open Sans';
}

.roam-app h1 { /* styles page titling */
    color: #C5C5C5 !important;
    font-family: 'Open Sans';
    font-weight: bold;
}

.roam-app { /* primary text colour */
    color: #C5C5C5 !important;
}

.roam-topbar {
    background-color: #182026;
}

.rm-page-ref-tag { /* hashtags */
    color: #69e3ff !important;
    background-color: #263139;
    border-radius: 3px;
    padding: 2px 3px 2px 3px;
}
.rm-page-ref-tag:hover {
    background-color: #353f46;
    text-decoration: none;
}

.block-highlight-blue { /* the bright blue highlight color */
    background-color: #1c2e3e;
}

.block-border-left { /* the tree graphics */
    border-left: 2px solid #343d48;
}

.rm-block-input { /* the currently selected block */
    background-color: #273540;
    border-radius: 3px;
    padding-left: 3px;
}

.rm-reference-item { /* the reference boxes at the bottom */
    background-color: #182026;
}

code { /* the single backtick code snippets */
    background-color: #242F38 !important;
    border-radius: 3px !important;
    color: #fded74;
    border: 0px solid #13191e;
    padding: 3px 4px 3px 4px;
    font-weight: bold;
}

strong { /* bold text */
    font-size: 1.15em;
    color: #c5c5c5;
}
.roam-highlight { /* highlighting */
    background-color: #FDD755;
    color: #0F1419;
    border-radius: 2px;
    padding: 2px 3px 2px 3px;
}
.roam-bullet-closed { /* expandable bullets */
    background-color: #b5f7ff;
}

.rm-pages-row { /* styles colour on the all pages */
    background-color: #182026;
}
.rm-pages-row:first-of-type { /* styles colour of all pages table header */
    background-color: #182026 !important;
}
.rm-pages-row:hover {
    background-color: #273540;
}
.bp3-button.bp3-minimal.bp3-intent-success { /* new page button*/
    color: #5c7080;
}
.bp3-button.bp3-minimal.bp3-intent-success:hover { /* new page button*/
    background: rgba(167,182,194,0.3);;
    color: #fff;
}

#right-sidebar {
    background-color: #2f3e4a !important;
}


/* ### */
.flex-v-box { /* can't remember what this did lol */
    margin-left: 5px !important;
}
.bp3-elevation-3 {
    color: #262626;
}
